@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');
/* template */
/* @font-face {
  font-family: 'Bebas Neue';
  src: url('../font/BebasNeue-1.eot') format('embedded-opentype'),
       url('../font/BebasNeue-1.ttf') format('truetype'),
       url('../font/BebasNeue-1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
